{% extends "auctions/layout.html" %} {% block body %} {% load tz %}
<!-- kailangan dito "" bawal ang '' -->
<h2><strong>Your Listings</strong></h2>
{% for list in listing %} {% if list.closed%}

<form action="{% url 'user_listing' %}" method="POST">
  {% csrf_token %}
  <button type="submit" name="remove" value="{{list.id}}">
    Open This Listing
  </button>
  <button type="submit" name="delete" value="{{list.id}}">DELETE</button>

  {% endif %} {% if not list.closed%}
  <form action="" method="POST">
    {% csrf_token %}
    <button type="submit" name="remove" value="{{list.id}}">
      Close This Listing
    </button>
    {% endif %}

    <ul>
      <li>{{list.title}}</li>
      <li>${{list.price}}</li>
      <li>{{list.category}}</li>
      {% timezone "Asia/Manila" %}
      <li>{{list.time}}</li>
      {% endtimezone %}
      <br />
      {% if list.image %}
      <img src="{{list.image.url}}" alt="no image" style="height: 100px" />
      {% endif %}
    </ul>
    <h2><strong>Bids </strong></h2>
    {% for li in list.bid.all %}
    <p>{{li}}</p>
    {% empty %}
    <p>No bids so far..</p>
    {% endfor %}
    <h2><strong>Comments</strong></h2>
    {% for com in list.comment.all %}
    <p>
      {{com.comment}} by:
      <span><strong>{{com.user}}</strong></span>
      {% timezone "Asia/Manila" %} {{com.time}} {% endtimezone %}
    </p>
    {% empty %}
    <p>No comments so far..</p>
    {% endfor %} {% empty %}
    <a href="{% url 'create_listing' %}">Create your Own Listing now</a>
    {% endfor %} {% endblock %}
  </form>
</form>
